# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Logs
logs/
*.log

# Database
instance/
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db